<h1>WareHouse App</h1>
<h3>Welcome to the Warehouse App</h3>

<h2>Registered warehouses</h2>
<% if @wh.empty? %>
No registered warehouse
<% else %>
  <% @wh.each do |w| %>
    <%= link_to(w.name, w) %>
    <%= w.code %>
    <br/>
  <% end %>
<% end %>
