<h1>Registered suppliers</h1>

<% if @sp.empty? %>
No registered supplier
<% else %>
  <% @sp.each do |s| %>
    <%= link_to(s.fantasy_name, supplier_path(s.id)) %>
    <%= s.cnpj %>
    <br/>
  <% end %>
<% end %>